{{>common/header}}
<!-- Page Header-->
<header class="masthead" style="background-image: url('https://codepresso-online-platform-public.s3.ap-northeast-2.amazonaws.com/java-web/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{post.title}}</h1>
                    <span class="meta"> Posted by {{post.username}} </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4" style="min-height: 400px">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center border-bottom pb-5">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>{{post.content}}</p>
                <div class="edit_btns">
                    <button><a href="/post/edit/{{id}}">수정</a></button>
                    <button>삭제</button>
                </div>
            </div>

        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7 border-bottom pb-5 mt-5">
                <div class="comment_title">댓글 3</div>
                <div class="comment_text">
                    <div class="etc">
                        <div class="name">닉네임</div>
                    </div>
                    <p>
                        댓글입니다. 댓글입니다. 댓글입니다. 댓글입니다. 댓글입니다 댓글입니다.
                    </p>
                    <div class="edit_btns">
                        <button class="comment-edit-form-button">수정</button>
                        <button id="comment-delete-button">삭제</button>
                    </div>
                    <!--수정 시-->
                    <textarea class="edit comment-edit" name="" id="edit2" cols="30" rows="10" placeholder="댓글을 입력해주세요"></textarea>
                    <div class="save_btns comment-edit">
                        <button class="comment-edit-cancel-button">취소</button>
                        <button class="save" id="comment-edit-button">저장하기</button>
                    </div>
                </div>
                <div class="comment_text">
                    <div class="etc">
                        <div class="name">닉네임</div>
                    </div>
                    <p>
                        댓글입니다. 댓글입니다. 댓글입니다. 댓글입니다. 댓글입니다 댓글입니다.
                    </p>
                    <div class="edit_btns">
                        <button class="comment-edit-form-button">수정</button>
                        <button id="comment-delete-button">삭제</button>
                    </div>
                    <!--수정 시-->
                    <textarea class="edit comment-edit" name="" id="edit2" cols="30" rows="10" placeholder="댓글을 입력해주세요"></textarea>
                    <div class="save_btns comment-edit">
                        <button class="comment-edit-cancel-button">취소</button>
                        <button class="save" id="comment-edit-button">저장하기</button>
                    </div>
                </div>
                <div id="more-comment"></div>
                <div class="d-flex justify-content-center mb-4"><a class="btn btn-primary text-uppercase" id="more-comment-button">MORE comments</a></div>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 my-5">
                <div class="comment_title">댓글 쓰기</div>
                <input type="text" id="comment-username" class="edit mb-2" style="height: 30px;"  placeholder="사용자 이름을 입력해주세요"/>
                <textarea class="edit" id="comment-content" name="" id="edit3" cols="30" rows="10" placeholder="댓글을 입력해주세요"></textarea>
                <div class="comment_btn">
                    <button id="comment-save-button">등록</button>
                </div>
            </div>
        </div>
    </div>
</article>
{{>common/footer}}