<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codepresso.blog.repository.UserCommentRepository">
    <insert id="save">
        INSERT INTO USER_COMMENT(POST_ID, USER_NAME, CONTENT)
        VALUES (#{userComment.postId}, #{userComment.userName}, #{userComment.content});
    </insert>

    <select id="findAllByPostId" resultType="com.codepresso.blog.vo.UserComment">
        SELECT *
        FROM USER_COMMENT
        WHERE ${post_id};
    </select>

</mapper>
